<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      id="1"
      photoCover="https://avatars.githubusercontent.com/u/101372228?v=4"
      cardTitle="Sobre mim"
      cardDescription="Desenvolvedor full-stack apaixonado por tecnologia e inovação"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      cardTitle="Experiências Profissionais"
      photoCover="https://icons.iconarchive.com/icons/bootstrap/bootstrap/256/Bootstrap-pc-display-icon.png"
    >
    </app-small-card>

    <app-small-card
      id="3"
      cardTitle="Conhecimentos Técnicos"
      photoCover="https://icons.iconarchive.com/icons/github/octicons/256/book-24-icon.png"
    >
    </app-small-card>
    
    <app-small-card
      id="4"
      cardTitle="Projetos Recentes"
      photoCover="https://cdn-icons-png.flaticon.com/512/2920/2920277.png"
    >
    </app-small-card>

  </div>
</div>
